* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/537/158/non_2x/light-orange-template-with-curved-lines-vector.jpg");
  background-size: auto;
}

.form-container {
  width: 40%;
  background-color: #fd9372;
  font-family: "Dosis", sans-serif;
  color: #fff;
  margin: 40px auto;
  padding: 25px;
  border-radius: 25px;
  text-align: left;
}

.form-header {
  text-align: center;
  text-transform: capitalize;
  font-family: "Cinzel", serif;
  font-weight: 500;
}
.form-container > form {
  margin: auto;
  width: 70%;
}

.form-group {
  margin: 1rem;
}

.form-group > label::after {
  content: "\a";
  white-space: pre;
}
.form-group > input,
select,
textarea {
  width: 100%;
  margin-top: 5px;
}
input,
select,
option,
textarea {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.form-group > p {
  border-bottom: solid 1px #fff;
}
.space {
  padding-left: 5px;
}
.submit-button > input {
  width: 100%;
  cursor: pointer;
  background-color: #f9a95c;
  border: #f9a95c;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  font-weight: bold;
  border-radius: 1rem;
  color: #fff;
  font-size: medium;
  margin: auto;
}
input[type="submit"]:hover {
  background-color: #f9a92c;
}
